* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: $azul; */
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
  margin: 0 1em;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  html {
    font-size: 8px;
  }
}
.grid-container-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
}
.grid-container-header .left-header {
  padding: 0.5em;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
}
.grid-container-header .left-header div {
  display: flex;
  align-items: center;
}
.grid-container-header .left-header__img {
  padding: 0 1em 0 1em;
  width: fit-content;
}
.grid-container-header .left-header__img img {
  width: 5rem;
  height: 5rem;
}
.grid-container-header .left-header__title {
  text-align: center;
}
.grid-container-header .left-header__title span {
  display: block;
}
.grid-container-header .right-header {
  display: flex;
  justify-content: flex-end;
}
.grid-container-header .right-header__social-media {
  width: fit-content;
}
.grid-container-header .right-header__social-media ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.grid-container-header .right-header__social-media ul li {
  list-style: none;
}
.grid-container-header .right-header__social-media ul li a {
  padding: 0 1rem 0 1rem;
  display: flex;
}
.grid-container-header .right-header__social-media ul li a img {
  width: 2rem;
  height: 2rem;
}
.grid-container-header .right-header__social-media ul li a img:hover {
  transform: scale(1.3);
  transition: all 0.3s ease;
}

.container-main-a {
  font-family: "Courier Prime", monospace;
  padding-bottom: 2em;
  padding-top: 2em;
  width: 100%;
  background-color: #7386c6;
  margin-top: 1em;
}
.container-main-a .window {
  padding: 0.5em;
  background-color: rgb(228, 225, 225);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 760px;
}
.container-main-a .window__title {
  background: -webkit-linear-gradient(to right, #7386c6, #F99aa9);
  background: linear-gradient(to right, #7386c6, #F99aa9);
  padding: 0.5em;
  border: 3px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container-main-a .window__title div {
  display: flex;
  align-items: center;
}
.container-main-a .window__title .title-left {
  color: white;
  width: 30%;
}
.container-main-a .window__title .title-mid {
  justify-content: center;
  width: 40%;
}
.container-main-a .window__title .title-right {
  justify-content: flex-end;
  width: 30%;
}
.container-main-a .window__title .title-right img {
  margin-left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}
.container-main-a .window__menu {
  padding: 1em;
  font-size: 1.5rem;
}
.container-main-a .window__menu .line-letter {
  border-bottom: 2px solid black;
}
.container-main-a .window__screen {
  position: relative;
  color: white;
  border: 3px solid black;
  background-color: #f99aaf;
  height: 80%;
  width: 100%;
}
.container-main-a .window__screen #scrollbar-style-x {
  position: absolute;
  content: "";
  padding: 12px;
  width: 100%;
  bottom: 0;
  background-color: white;
}
.container-main-a .window__screen #scrollbar-style-x::before {
  border-top: 0.125em solid black;
  border-right: 0.125em solid black;
  position: absolute;
  content: "";
  padding: 0.7em;
  background-color: #f99aaf;
  bottom: 0;
  width: 10%;
  left: 0;
}
.container-main-a .window__screen #scrollbar-style-y {
  position: absolute;
  content: "";
  padding: 0.7em;
  height: 100%;
  right: 0;
  bottom: 0;
  background-color: white;
}
.container-main-a .window__screen #scrollbar-style-y::before {
  position: absolute;
  content: "";
  padding: 0.7em;
  height: 20%;
  background-color: #f99aaf;
  top: 0;
  right: 0;
  border-left: 0.125em solid black;
  border-bottom: 2px solid black;
}
.container-main-a .window__screen #scrollbar-arrow-x img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 23px;
  height: 24px;
  transform: rotate(270deg);
}
.container-main-a .window__screen #scrollbar-arrow-y img {
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 24px;
}
.container-main-a .window__screen #scrollbar-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgb(228, 225, 225);
}
.container-main-a .window__screen #scrollbar-corner img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.43rem;
  height: 1.43rem;
}
.container-main-a .window__screen .screen-title {
  font-size: 4rem;
  padding: 1em 1em 1em 1em;
  display: table;
  padding-left: 2em;
}
.container-main-a .window__screen .screen-title h2 {
  position: relative;
}
.container-main-a .window__screen .screen-title h2 span {
  position: absolute;
  right: 0;
  width: 0;
  background-color: #f99aaf;
  border-left: 1px solid black;
  animation: maquina 5s infinite alternate steps(13);
}
@keyframes maquina {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
.container-main-a .window__screen .screen-name {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}
.container-main-a .window__screen .screen-name span {
  color: #ffe68a;
}
.container-main-a .window__screen .screen-name #second-title {
  font-size: 2rem;
  padding-left: 6em;
  margin-top: 3em;
}

@media screen and (max-width: 992px) {
  .container-main-a .window {
    width: 100%;
    height: auto;
  }
  .container-main-a .window__screen .screen-title {
    font-size: 3rem;
  }
  .container-main-a .window__screen .screen-name {
    font-size: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .container-main-a .window__title {
    font-size: 1rem;
  }
  .container-main-a .window__title .title-right img {
    width: 2rem;
    height: 2rem;
  }
  .container-main-a .window__screen {
    border: 2px solid black;
  }
  .container-main-a .window__screen #scrollbar-style-x {
    padding: 1em;
  }
  .container-main-a .window__screen #scrollbar-style-x::before {
    padding: 1em;
    width: 6em;
  }
  .container-main-a .window__screen #scrollbar-style-y {
    padding: 1em;
  }
  .container-main-a .window__screen #scrollbar-style-y::before {
    padding: 1em;
    height: 6em;
  }
  .container-main-a .window__screen #scrollbar-arrow-x img {
    width: 16px;
    height: 16px;
  }
  .container-main-a .window__screen #scrollbar-arrow-y img {
    width: 16px;
    height: 16px;
  }
  .container-main-a .window__screen .screen-title {
    padding-bottom: 3em;
    font-size: 2.5rem;
  }
  .container-main-a .window__screen .screen-name {
    font-size: 1.7rem;
    padding-bottom: 10em;
  }
}
#second {
  font-family: "Courier Prime", monospace;
  margin-top: 1rem;
  width: 100%;
  padding-top: 8em;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1em;
}
#second .window {
  padding: 1em;
  background-color: rgb(228, 225, 225);
  margin: 0;
  width: 20%;
  height: fit-content;
}
#second .window__title {
  background: -webkit-linear-gradient(to right, #7386c6, #f99aa9);
  background: linear-gradient(to right, #7386c6, #f99aa9);
  padding: 0.5em;
  border: 3px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2em;
}
#second .window__title img {
  height: 1em;
}
#second .window__screen div {
  height: 100%;
}
#second .window__screen div img {
  max-width: 100%;
  height: 100%;
}
#second .window__margin {
  padding: 0.5em;
}
#second .texto {
  width: 70%;
  background-color: #7386c6;
  font-size: 1rem;
  padding: 2em;
  margin-left: 3em;
  box-shadow: 24px 24px 0px -3px rgb(249, 154, 175);
  -webkit-box-shadow: 24px 24px 0px -3px rgb(249, 154, 175);
  -moz-box-shadow: 24px 24px 0px -3px rgb(249, 154, 175);
}
#second .texto h2 {
  margin-bottom: 1em;
}
#second .texto h3 {
  margin-left: 3em;
}
#second .subtitulo {
  padding-top: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.3rem;
}
.container-grid {
  background-image: url(../../images/window-3/background.png);
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 2em;
  padding-bottom: 7em;
  background-size: cover;
}
.container-grid .grid-left {
  /* display: grid;
  grid-template-rows: auto auto auto; */
  padding: 1em;
  /* Animacion */
}
.container-grid .grid-left .hard-skills {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em;
  width: 70%;
  border: 1px solid black;
  background-color: white;
}
.container-grid .grid-left .hard-skills .arriba {
  display: flex;
  justify-content: flex-end;
  background-color: #f99aaf;
  height: 1em;
  border: 1px solid black;
  align-items: center;
}
.container-grid .grid-left .hard-skills .arriba img {
  margin-left: 2px;
  height: 0.7em;
  margin-right: 0.7em;
}
.container-grid .grid-left p {
  text-align: center;
  margin-top: 0.5em;
  font-weight: bold;
}
.container-grid .grid-left .folder {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}
.container-grid .grid-left .folder div {
  height: fit-content;
  width: fit-content;
}
.container-grid .grid-left .folder__html {
  position: relative;
}
.container-grid .grid-left .folder__html img {
  width: 10rem;
  height: 10rem;
}
.container-grid .grid-left .folder__html p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-grid .grid-left .folder__css {
  position: relative;
  margin-left: 50%;
}
.container-grid .grid-left .folder__css img {
  width: 10rem;
  height: 10rem;
}
.container-grid .grid-left .folder__css p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-grid .grid-left .folder__js {
  position: relative;
}
.container-grid .grid-left .folder__js img {
  width: 10rem;
  height: 10rem;
}
.container-grid .grid-left .folder__js p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-grid .grid-left .folder div:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}
.container-grid .grid-left .folder div:hover p {
  color: white;
}
.container-grid .grid-right {
  /* display: grid;
  grid-template-rows: auto auto auto; */
  padding: 1em;
}
.container-grid .grid-right .soft-skills {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em;
  background-color: white;
  border: 1px solid black;
}
.container-grid .grid-right .soft-skills .arriba-2 {
  background-color: #f99aaf;
  height: 1em;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container-grid .grid-right .soft-skills .arriba-2 img {
  height: 0.7em;
  margin-left: 2px;
  margin-right: 0.7em;
}
.container-grid .grid-right p {
  text-align: center;
  margin-top: 0.5em;
  font-weight: bold;
}
.container-grid .grid-right .folder-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-grid .grid-right .folder-2 div {
  height: fit-content;
  width: fit-content;
}
.container-grid .grid-right .folder-2__sass {
  position: relative;
}
.container-grid .grid-right .folder-2__sass img {
  width: 10rem;
  height: 10rem;
}
.container-grid .grid-right .folder-2__sass p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-grid .grid-right .folder-2__git {
  position: relative;
  margin-left: 50%;
}
.container-grid .grid-right .folder-2__git img {
  width: 10rem;
  height: 10rem;
}
.container-grid .grid-right .folder-2__git p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-grid .grid-right .folder-2__bs {
  position: relative;
}
.container-grid .grid-right .folder-2__bs img {
  width: 10rem;
  height: 10rem;
}
.container-grid .grid-right .folder-2__bs p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-grid .grid-right .folder-2 div:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}
.container-grid .grid-right .folder-2 div:hover p {
  color: white;
}

.presentacion-container {
  padding: 0 10rem 0 10rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: url("/images/presentacion/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.presentacion-container .presentacion-container-top {
  width: 100%;
  display: flex;
}
.presentacion-container .presentacion-container-top #espada {
  animation: espada 1s linear 0s infinite;
}
@keyframes espada {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.presentacion-container .presentacion-container-top img {
  width: 10rem;
}
.presentacion-container .presentacion-container-top .espada {
  width: 40%;
  justify-content: flex-start;
}
.presentacion-container .presentacion-container-top .bomba-corazones {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.presentacion-container .presentacion-container-top .bomba-corazones div {
  width: 100%;
}
.presentacion-container .presentacion-container-top .bomba-corazones #corazones {
  padding-left: 5rem;
}
.presentacion-container .presentacion-container-top .bomba-corazones #corazones img {
  width: 15rem;
  transform: rotate(10deg);
}
.presentacion-container .presentacion-container-top .bomba-corazones #bomba {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.presentacion-container .presentacion-container-top .bomba-corazones #bomba-animation {
  animation: bomba 1s linear 0s infinite;
}
@keyframes bomba {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
.presentacion-container .presentacion-container-middle {
  height: fit-content;
}
.presentacion-container .presentacion-container-middle img {
  width: 20rem;
}
.presentacion-container .presentacion-container-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.presentacion-container .presentacion-container-bottom img {
  width: 10rem;
}
.presentacion-container .presentacion-container-bottom #gamepad {
  animation: gamepad 2s linear 0s infinite;
}
@keyframes gamepad {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.presentacion-container .presentacion-container-bottom #diamante {
  animation: diamante 2s linear 0s infinite;
}
@keyframes diamante {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.grid-container-main-b {
  font-family: "Courier Prime", monospace;
  width: 100%;
  background-color: white;
}
.grid-container-main-b .container-a-b {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5rem;
}
.grid-container-main-b .container-a-b p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.grid-container-main-b .container-a-b .left {
  margin-top: 5rem;
  width: 50%;
  padding: 1rem;
}
.grid-container-main-b .container-a-b .left .edu {
  display: flex;
  justify-content: center;
}
.grid-container-main-b .container-a-b .left .edu img {
  width: 20rem;
}
.grid-container-main-b .container-a-b .left .edu:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}
.grid-container-main-b .container-a-b .left .descripcion {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  background-color: #ffe68a;
}
.grid-container-main-b .container-a-b .left .descripcion img {
  margin-left: 3rem;
  width: 5rem;
}
.grid-container-main-b .container-a-b .left .descripcion .textos {
  margin-bottom: 2rem;
}
.grid-container-main-b .container-a-b .left .descripcion .textos h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.grid-container-main-b .container-a-b .rigth {
  margin-top: 5rem;
  width: 50%;
  padding: 1rem;
}
.grid-container-main-b .container-a-b .rigth .exp {
  display: flex;
  justify-content: center;
}
.grid-container-main-b .container-a-b .rigth .exp img {
  width: 20rem;
}
.grid-container-main-b .container-a-b .rigth .exp:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}
.grid-container-main-b .container-a-b .rigth .descrpcion-b {
  display: flex;
  margin-top: 3rem;
  background-color: #ffe68a;
}
.grid-container-main-b .container-a-b .rigth .descrpcion-b .img-2 {
  margin-left: 2rem;
}
.grid-container-main-b .container-a-b .rigth .descrpcion-b .img-2 img {
  width: 5rem;
}
.grid-container-main-b .container-a-b .rigth .descrpcion-b .textos-2 {
  margin-bottom: 2rem;
  margin-left: 8em;
}
.grid-container-main-b .container-a-b .rigth .descrpcion-b .textos-2 h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.proyectos {
  display: flex;
  margin-bottom: 2rem;
}
.proyectos .cont-texto {
  border: 2px solid #7386c6;
  width: 20%;
  padding: 0.5em;
  height: 13em;
  background-color: #11FFBD;
}
.proyectos .cont-texto .barra {
  border: 2px solid #7386c6;
  display: flex;
  justify-content: end;
  background: #488bce; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E5E5BE, #488bce); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E5E5BE, #488bce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 0.5em;
}
.proyectos .cont-texto .barra img {
  width: 1em;
  margin-left: 2px;
}
.proyectos .cont-texto .texto {
  border: 1px solid #7386c6;
  background: #f99aaf;
  height: 10em;
  display: flex;
  flex-direction: column;
}
.proyectos .cont-texto .texto p {
  font-size: 1em;
}
.proyectos .cont-texto .texto #itemButton {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  text-decoration: none;
}
.proyectos .cont-texto .texto #itemButton #button {
  width: 6rem;
  font-family: "Courier New", Courier, monospace;
  background-color: #11FFBD;
  border: 1px solid #7386c6;
  box-shadow: -7px -7px 0px 0px rgba(115, 134, 198, 0.75);
  -webkit-box-shadow: -7px -7px 0px 0px rgba(115, 134, 198, 0.75);
  -moz-box-shadow: -7px -7px 0px 0px rgba(115, 134, 198, 0.75);
}
.proyectos .cont-carrusel {
  margin-left: 2em;
  width: 75%;
}
.proyectos .cont-carrusel .barra-carrusel {
  border: 2px solid #7386c6;
  display: flex;
  justify-content: end;
  background: #f4c4f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fc67fa, #f4c4f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.proyectos .cont-carrusel .barra-carrusel img {
  width: 2em;
  padding: 3px;
}
.proyectos .cont-carrusel #conteItemsCarrusel {
  height: 25rem;
  overflow: hidden;
}
.proyectos .cont-carrusel #conteItemsCarrusel .item-carrusel {
  border: 1px solid #7386c6;
  height: 25rem;
  position: relative;
}
.proyectos .cont-carrusel #conteItemsCarrusel .item-carrusel .tarjetaCarrusel {
  background-color: aqua;
  height: 100%;
}
.proyectos .cont-carrusel #conteItemsCarrusel .item-carrusel .flechasCarrusel {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
.proyectos .cont-carrusel #conteItemsCarrusel .item-carrusel .flechasCarrusel img {
  width: 1.5em;
}
.proyectos .cont-carrusel #conteItemsCarrusel .item-carrusel #tarjetaCarrusel-1 {
  background-color: #E5E5BE;
}
.proyectos .cont-carrusel #conteItemsCarrusel .item-carrusel #tarjetaCarrusel-2 {
  background-color: #8a2457;
}
.proyectos .cont-carrusel #conteItemsCarrusel .item-carrusel #tarjetaCarrusel-3 {
  background-color: #0b8877;
}
.proyectos .cont-carrusel #conteItemsCarrusel .item-carrusel a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
