.grid-container-header {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .left-header {
        background-color: antiquewhite;
        grid-column: 1 / 4;
        display: flex;
        &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            img {
                width: 60%;
            }
        }

        &__title {
            width: 80%;
            align-self: center;
            font-size: .7rem;
            text-align: center;
        }
    }

    .right-header {
        display: flex;
        background-color: antiquewhite;
        grid-column: 11 / 13;

        &__social-media {
            height: 100%;
            width: 70%;
            ul {
                height: 100%;
                display: flex;
                align-items: center;
                li {
                    list-style: none;
                    a {
                        display: flex;
                        justify-content: center;
                        img {
                            width: 30%;
                        }
                    }
                }
            }
        }

        &__user-panel {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            img {
                width: 30%;
            }

        }
    }
}